:root {
  --main-input-box-color:lightblue;
  --main-input-box-color-hover:rgb(181, 228, 243);
}
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    letter-spacing: -0.018em;
}

.grid_container {
  display: grid;
  grid-template-columns: 1fr 680px 1fr;
}

.input_container {
    display: flex;
    width: 680px;
    height: 65px;
    background-color: white;
}

.input_container div {
    border-radius: 5px;
}

.divider {
  display:flex;
  align-items: center;
  justify-content: center;
  width:20px;
}

.input_group {
  padding: 5px 10px 0px 10px;
}

.input_group:hover {
  background-color: var(--main-input-box-color-hover);
}

.input_group_city {
    background-color: var(--main-input-box-color);
    flex-basis: 185px;
}

.title {
  font-size: 12px;
  font-style: bold;
  padding: 2px 2px;
}

.error_message {
  padding: 2px;
  font-size: 10px;
  color:red;
}


.input_group_zip {
    background: var(--main-input-box-color);
    flex-basis: 110px;
    
}

.input_group_lat_lon {

    background: var(--main-input-box-color);
    width: 140px;
}

.group_lat_lon {
  display:flex;
  width:140px;

}

.input_lat {
  width: 60px;
  padding: 0px 5px;

}

.input_lon {
  width: 60px;
  padding: 0px 5px;
}

.input_submit {
  display:flex; 
  align-items: center;
}



input[type=text] {
    padding: 3px 5px;
    margin: 0px 0px;
    border:none;
    border-radius: 2px;
    font-size: .9em;
    align-items: center;
    
  }

  .input_city[type=text] {
    width: 175px;
  }

  .input_zip[type=text] {
    width:100px;
  }

 

  .narrow[type=text] {
    width: 50px;
  }

  
input[type=button], input[type=submit], input[type=reset] {
    background-color: rgb(29,51,166);
    border: none;
    border-radius: 5px;
    color: white;
    padding: 7px 32px;
    text-decoration: none;
    margin: 4px 4px;
    cursor: pointer;
    font-size:.75em;
  }

  input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover {
    background-color: rgb(42, 135, 203);
    text-decoration: none;
    cursor: pointer;
  }


  /* Styling for Weather Results */

  .display_weather {
    display:flex;
    height: 70px;
    align-items: center;
    background-color: rgb(49, 49, 49);

  }

  .city {
    display:flex;
    justify-content: space-between;
    font-size: 3em;
    padding: 0 5px;
    width: 400px;
    height: 60px;
    background-color: var(--main-input-box-color);
    border-radius: 5px;
  }

  .temp {
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    width: 100px;
    height: 60px;
    background-color: var(--main-input-box-color);
    border-radius: 5px;
  }
  
  .icon {
    align-items: right;
  }

